<p id="notice"><%= notice %></p>

<p>
  <strong>String 1:</strong>
  <%= @service.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @service.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @service.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @service.string_4 %>
</p>

<p>
  <strong>String 5:</strong>
  <%= @service.string_5 %>
</p>

<p>
  <strong>String 6:</strong>
  <%= @service.string_6 %>
</p>

<p>
  <strong>String 7:</strong>
  <%= @service.string_7 %>
</p>

<p>
  <strong>String 8:</strong>
  <%= @service.string_8 %>
</p>

<p>
  <strong>String 9:</strong>
  <%= @service.string_9 %>
</p>

<p>
  <strong>String 10:</strong>
  <%= @service.string_10 %>
</p>

<p>
  <strong>String 11:</strong>
  <%= @service.string_11 %>
</p>

<p>
  <strong>String 12:</strong>
  <%= @service.string_12 %>
</p>

<p>
  <strong>String 13:</strong>
  <%= @service.string_13 %>
</p>

<p>
  <strong>String 14:</strong>
  <%= @service.string_14 %>
</p>

<p>
  <strong>String 15:</strong>
  <%= @service.string_15 %>
</p>

<p>
  <strong>String 16:</strong>
  <%= @service.string_16 %>
</p>

<p>
  <strong>String 17:</strong>
  <%= @service.string_17 %>
</p>

<p>
  <strong>String 18:</strong>
  <%= @service.string_18 %>
</p>

<p>
  <strong>String 19:</strong>
  <%= @service.string_19 %>
</p>

<p>
  <strong>String 20:</strong>
  <%= @service.string_20 %>
</p>

<p>
  <strong>String 21:</strong>
  <%= @service.string_21 %>
</p>

<p>
  <strong>String 22:</strong>
  <%= @service.string_22 %>
</p>

<p>
  <strong>String 23:</strong>
  <%= @service.string_23 %>
</p>

<p>
  <strong>String 24:</strong>
  <%= @service.string_24 %>
</p>

<p>
  <strong>String 25:</strong>
  <%= @service.string_25 %>
</p>

<p>
  <strong>String 26:</strong>
  <%= @service.string_26 %>
</p>

<p>
  <strong>String 27:</strong>
  <%= @service.string_27 %>
</p>

<p>
  <strong>String 28:</strong>
  <%= @service.string_28 %>
</p>

<p>
  <strong>String 29:</strong>
  <%= @service.string_29 %>
</p>

<p>
  <strong>String 30:</strong>
  <%= @service.string_30 %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
