
<%= simple_form_for(@take_action) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :hide_take_action %>
    <%= f.input :take_action_string_1 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
