<p id="notice"><%= notice %></p>

<p>
  <strong>String 1:</strong>
  <%= @footer.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @footer.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @footer.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @footer.string_4 %>
</p>

<p>
  <strong>String 5:</strong>
  <%= @footer.string_5 %>
</p>

<%= link_to 'Edit', edit_footer_path(@footer) %> |
<%= link_to 'Back', footers_path %>
