<section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" id="about-us">
  <div class="container">
    <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="col">
        <div class="overflow-hidden">
          <h2 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":1.5,"delay":0}'><%= @page.about_text1 %></h2>
        </div>
        <div class="overflow-hidden">
          <p class="text-uppercase fs--1 text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'>
            <%= @page.about_text2 %>
          </p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4 text-md-right">
        <h5 class="ls-1 mb-3"><%= @page.about_text3 %></h5>
        <p class="mb-0"><%= @page.about_text4 %><br class="d-none d-xl-block" /> <%= @page.about_text5 %><br class="d-none d-xl-block" /><%= @page.about_text6 %><br class="d-none d-xl-block" /> <%= @page.about_text7 %><br class="d-none d-sm-block" /> <%= @page.about_text8 %></p>
      </div>
  <div class="col-md-4 px-lg-4 my-4 my-md-0">
    <%= image_tag(@page.about_image_resized, class: "rounded w-100 w-sm-75 w-md-100" ) if @page.about_image.attached? %>
  </div>

      <div class="col-md-4 text-md-left">
        <h5 class="ls-1 mb-3"><%= @page.about_text9 %></h5>
        <p class="mb-0"><%= @page.about_text10 %><br class="d-none d-xl-block" /> <%= @page.about_text11 %><br class="d-none d-xl-block" /> <%= @page.about_text12 %><br class="d-none d-xl-block" /> <%= @page.about_text13 %><br class="d-none d-xl-block" /> <%= @page.about_text14 %></p>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>