<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5 text-center bg-black text-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  <div class="container">
    <div class="overflow-hidden">
      <h4 class="font-weight-normal text-white mb-1" data-zanim-xs='{"duration":1.5,"delay":0}'><%= @page.start_text1 %><br class="d-block d-sm-none" /> <%= @page.start_text2 %></h4>
    </div>
    <div class="overflow-hidden">
      <p data-zanim-xs='{"duration":1.5,"delay":0.1}'><%= @page.start_text3 %></p>
    </div>
    <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'>
    <%= link_to new_driver_application_path do %>
    <span class="btn btn-outline-light btn-sm hvr-sweep-top mt-2" href="../pages/work-alt.html"><%= @page.start_button_text %></span>
    <% end %>
    </div>
    <%= link_to "Edit", edit_start_path, class: "btn btn-outline-info btn-lg pull-right" %>  
  </div>
  <!-- end of .container-->
</section>



      <!-- ============================================-->
      <!-- <section> begin ============================-->