<section class="py-6">
  <div class="bg-holder overlay overlay-1" style="background-image">
    <%= image_tag(@page.eight_82) if @page.performance_image.attached? %>
  </div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <h2 class="fs-md-5 text-white" data-zanim-xs='{"duration":"1.5","delay":0}'><%= @page.performance_text1 %></h2>
        </div>
        <div class="overflow-hidden">
          <p class="fs--1 text-uppercase text-white ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'><%= @page.performance_text2 %></p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short border-white" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
        </div>
      </div>
      <div class="col-lg-6 px-4 px-sm-3 px-lg-5 mb-4 mb-md-5 mb-lg-0" style="padding-top: 28px;">
        <div class="progress-line" data-options='{"progress":<%= @page.performance_num1 %>,"text":"<%= @page.performance_text3 %>","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
        <div class="progress-line" data-options='{"progress":<%= @page.performance_num2 %>,"text":"<%= @page.performance_text4 %>","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
        <div class="progress-line" data-options='{"progress":<%= @page.performance_num3 %>,"text":"<%= @page.performance_text5 %>","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
        <div class="progress-line" data-options='{"progress":<%= @page.performance_num4 %>,"text":"<%= @page.performance_text6 %>","css":{"color":"#fff","trailColor":"#555","textColor":"#fff"}}'></div>
      </div>
      <div class="col-lg-6 px-lg-5 d-flex flex-column justify-content-between">
        <div class="fancy-tab">
          <div class="nav-bar nav-bar-border justify-content-center justify-content-lg-start">
            <div class="nav-bar-item active text-uppercase text-white"><%= @page.performance_text7 %></div>
            <div class="nav-bar-item text-uppercase text-white"><%= @page.performance_text8 %></div>
            <div class="nav-bar-item text-uppercase text-white"><%= @page.performance_text9 %></div>
            <div class="tab-indicator-trail"></div>
          </div>
          <div class="tab-contents text-white mt-4">
            <div class="tab-content active">
              <div class="media align-items-center">
                <img src="../assets/img/line-icons/diamond.svg" width="56" alt="" />
                <div class="media-body pl-3">
                  <p class="mb-0"><%= @page.performance_text10 %></p>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div class="media align-items-center">
                <img src="../assets/img/line-icons/customer-service.svg" width="56" alt="" />
                <div class="media-body pl-3">
                  <p class="mb-0"><%= @page.performance_text11 %></p>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div class="media align-items-center">
                <img src="../assets/img/line-icons/monitor-3.svg" width="56" alt="" />
                <div class="media-body pl-3">
                  <p class="mb-0"><%= @page.performance_text12 %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center text-lg-left"><span class="btn btn-outline-light hvr-sweep-top btn-sm mt-5 mt-lg-4 mb-2" ><%= @page.performance_text14 %></span></div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>