<div class="overflow-hidden">
  <%= render 'pages/edit_partials/edit_about' %>  
</div>
<div class='container'>
  <%= simple_form_for(@page) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= f.input :about_text1, label: "Text 1" %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text2, label: "Text 2"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text3, label: "Text 3"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text4, label: "Text 4"  %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= f.input :about_text5, label: "Text 5" %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text6, label: "Text 6"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text7, label: "Text 7"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text8, label: "Text 8"  %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= f.input :about_text9, label: "Text 9"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text10, label: "Text 10"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text11, label: "Text 11" %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text12, label: "Text 12"  %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= f.input :about_text13, label: "Text 13"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_text14, label: "Text 14"  %>
      </div>
      <div class="col-sm">
        <%= f.input :about_image, label: "Image", hint: "For best results image size should be 3000x2800 px"   %>
        <div class='container'>
          <%= image_tag(@page.about_nail) if @page.about_image.attached? %>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="form-actions">
      <%= f.button :submit, data: {disable_with: 'One moment please...'}, class: "btn btn-default btn-dark" %> 
      | <%= link_to "Home", root_path, class: "btn btn-default btn-dark" %> 
    </div>
    <br>
    <% end %>
  </div>
</div>
<%= render "pages/edit_partials/edit_footer_while_in_edit_mode" %>
