<div class="overflow-hidden">
  <%= render 'pages/edit_partials/edit_count' %>  
</div>
<div class='container'>
  <%= simple_form_for(@page) do |f| %>
  <%= f.input :count_text1, label: "Text 1" %>
  <%= f.input :count_text2, label: "Text 2"  %>
  <%= f.input :count_text3, label: "Text 3"  %>
  <%= f.input :count_text4, label: "Text 4"  %>
  <%= f.input :count_text5, label: "Text 5"  %>
  <%= f.input :count_num1, label: "Number 1", hint: "Only Numerical Values"  %>
  <%= f.input :count_num2, label: "Number 2", hint: "Only Numerical Values" %>
  <%= f.input :count_num3, label: "Number 1", hint: "Only Numerical Values" %> 
  <%= f.input :count_image, label: "Image", hint: "For best results image size should be 3000 x 811 px"   %>
  <div class='container'>
    <%= image_tag(@page.count_nail) if @page.count_image.attached? %>
  </div>
  <br>
  <br>
  <div class="form-actions">
    <%= f.button :submit, data: {disable_with: 'One moment please...'}, class: "btn btn-default btn-dark" %> 
    | <%= link_to "Home", root_path, class: "btn btn-default btn-dark" %> 
  </div>
  <br>
  <% end %>
</div>
<%= render "pages/edit_partials/edit_footer_while_in_edit_mode" %>