


<main>  
  <%= render "pages/partials/navi" %>
  <%= render "pages/partials/header" %>
  <%= render "pages/partials/about" %>
  <%= render "pages/partials/stats" %>
    <%= render "pages/partials/services" %>
  <%= render "pages/partials/performance" %> 
  <%= render "pages/partials/take_action" %> 
  <%= render "pages/partials/contact" %> 
 
</main>  

  <%= render "pages/partials/totop" %>
  <%= render "pages/partials/footer" %> 
