<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>String 1</th>
      <th>String 2</th>
      <th>String 3</th>
      <th>String 4</th>
      <th>String 5</th>
      <th>String 6</th>
      <th>String 7</th>
      <th>String 8</th>
      <th>String 9</th>
      <th>String 10</th>
      <th>String 11</th>
      <th>String 12</th>
      <th>String 13</th>
      <th>String 14</th>
      <th>String 15</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.string_1 %></td>
        <td><%= contact.string_2 %></td>
        <td><%= contact.string_3 %></td>
        <td><%= contact.string_4 %></td>
        <td><%= contact.string_5 %></td>
        <td><%= contact.string_6 %></td>
        <td><%= contact.string_7 %></td>
        <td><%= contact.string_8 %></td>
        <td><%= contact.string_9 %></td>
        <td><%= contact.string_10 %></td>
        <td><%= contact.string_11 %></td>
        <td><%= contact.string_12 %></td>
        <td><%= contact.string_13 %></td>
        <td><%= contact.string_14 %></td>
        <td><%= contact.string_15 %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
