<p id="notice"><%= notice %></p>

<p>
  <strong>String 1:</strong>
  <%= @contact.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @contact.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @contact.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @contact.string_4 %>
</p>

<p>
  <strong>String 5:</strong>
  <%= @contact.string_5 %>
</p>

<p>
  <strong>String 6:</strong>
  <%= @contact.string_6 %>
</p>

<p>
  <strong>String 7:</strong>
  <%= @contact.string_7 %>
</p>

<p>
  <strong>String 8:</strong>
  <%= @contact.string_8 %>
</p>

<p>
  <strong>String 9:</strong>
  <%= @contact.string_9 %>
</p>

<p>
  <strong>String 10:</strong>
  <%= @contact.string_10 %>
</p>

<p>
  <strong>String 11:</strong>
  <%= @contact.string_11 %>
</p>

<p>
  <strong>String 12:</strong>
  <%= @contact.string_12 %>
</p>

<p>
  <strong>String 13:</strong>
  <%= @contact.string_13 %>
</p>

<p>
  <strong>String 14:</strong>
  <%= @contact.string_14 %>
</p>

<p>
  <strong>String 15:</strong>
  <%= @contact.string_15 %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
