<% if @contact.hide_contact? %>
<% else %>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <h2 class="fs-md-5" data-zanim-xs='{"duration":1.5,"delay":0}'><%= @contact.contact_string_1 %></h2>
        </div>
        <div class="overflow-hidden">
          <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":1.5,"delay":0.1}'><%= @contact.contact_string_2 %></p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short border-black" data-zanim-xs='{"duration":1.5,"delay":0.2}' />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-5 mb-lg-0 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-12">
            <h5 class="mb-3"><%= @contact.contact_string_3 %></h5>
          </div>
          <div class="col-auto mb-2 mb-sm-0" style="width: 190px">
            <div class="row">
              <div class="col-1"><span class="fa fa-location-arrow text-700"></span></div>
              <div class="col px-2">
                <p class="mb-1 text-700"><strong><%= @contact.contact_string_4 %> </strong></p>
                <p class="mb-0 text-600"><%= @contact.contact_string_5 %><br /><%= @contact.contact_string_6 %></p>
              </div>
            </div>
          </div>
          <div class="col-auto" style="width: 205px">
            <div class="row mb-2 mb-sm-1">
              <div class="col-1"><span class="fa fa-phone mr-2 text-700"> </span></div>
              <div class="col px-2"><a class="text-600" href="tel:526853300"><%= @contact.contact_string_7 %> </a><br /><a class="text-600" href="tel:526853300"><%= @contact.contact_string_8 %> </a></div>
            </div>
            <div class="row">
              <div class="col-1"><span class="fa fa-envelope mr-2 text-700"></span></div>
              <div class="col px-2"><a class="text-600" href="mailto:contact@reign.com"><%= @contact.contact_string_9 %></a></div>
            </div>
          </div>
        </div>
        <div class="googlemap rounded theme-map mt-4" data-latlng="48.8583701,2.2922873,17" data-scrollwheel="false" data-icon="../assets/img/map-marker.png" data-zoom="17" data-theme="Default" style="min-height: 14.63rem;">
          <div class="marker-content py-3">
            <h5><%= @contact.contact_string_10 %></h5>
            <p><%= @contact.contact_string_11 %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="mb-3"><%= @contact.contact_string_12 %></h5>
        <%= simple_form_for @incoming_contact do |ic| %>
        <input type="hidden" name="to" value="username@domain.extension" />
        <div class="form-group mb-3 zform text-left">
          <%= ic.input :name, label: false, class: "fs-0 form-control", placeholder: "Your Name"  %>
        </div>
        <div class="form-group mb-3">
          <%= ic.input :email, label: false, class: "fs-0 form-control", placeholder: "Email"  %>
        </div>
        <div class="form-group mb-3">
          <%= ic.input :message, label: false, class: "fs-0 form-control contact-message", placeholder: "Message"  %>
        </div>
        <div class="zform-feedback my-2"></div>
        <%= ic.submit "Send Message", data: {disable_with: 'Sending...'}, class: "btn btn-block btn-dark " %>
        <% end %>
      </div>
    </div>
 
  </div>
  <!-- end of .container-->
</section>
<% end %>
