<% if @service.hide_service? %>
<% else %>
<section class="text-center" id="services">
  <div class="container">
    <div class="row mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="col">
        <div class="overflow-hidden">
          <h2 class="fs-md-5" data-zanim-xs='{"duration":"1.5","delay":0}'><%= @service.service_string_1 %></h2>
        </div>
        <div class="overflow-hidden">
          <p class="fs--1 text-uppercase text-black ls-0 mb-0" data-zanim-xs='{"duration":"1.5","delay":0.1}'><%= @service.service_string_2 %></p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}' />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0"}'><img class="service-icon" src="../assets/img/line-icons/icons/fountain-pen.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.1"}'><%= @service.service_string_3 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'><%= @service.service_string_4 %> <br class="d-block d-sm-none"> <%= @service.service_string_5 %> <br class="d-block d-sm-none"> <%= @service.service_string_6 %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.2"}'><img class="service-icon" src="../assets/img/line-icons/icons/pear.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.30000000000000004"}'><%= @service.service_string_7 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'><%= @service.service_string_8 %> <br class='d-block d-sm-none'> <%= @service.service_string_9 %> <br class='d-block d-sm-none'> <%= @service.service_string_10 %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.3"}'><img class="service-icon" src="../assets/img/line-icons/icons/export.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'><%= @service.service_string_11 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'><%= @service.service_string_11 %><br class='d-block d-sm-none'> <%= @service.service_string_13 %> <br class='d-block d-sm-none'> <%= @service.service_string_14 %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.3"}'><img class="service-icon" src="../assets/img/line-icons/icons/light-bulb.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'><%= @service.service_string_15 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'><%= @service.service_string_16 %> <br class='d-block d-sm-none'> <%= @service.service_string_17 %> <br class='d-block d-sm-none'> <%= @service.service_string_8 %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.4"}'><img class="service-icon" src="../assets/img/line-icons/icons/pie-chart.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'><%= @service.service_string_19 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.6000000000000001"}'><%= @service.service_string_20 %> <br class='d-block d-sm-none'> <%= @service.service_string_21 %> <br class='d-block d-sm-none'> <%= @service.service_string_22 %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4" data-zanim-xs='{"duration":"1.5","delay":"0.5"}'><img class="service-icon" src="../assets/img/line-icons/icons/wifi.svg" alt="" /></div>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-weight-normal ls-2 mb-2" data-zanim-xs='{"duration":"1.5","delay":"0.6"}'><%= @service.service_string_23 %></h5>
            </div>
            <div class="overflow-hidden">
              <p class="font-weight-normal" data-zanim-xs='{"duration":"1.5","delay":"0.7"}'><%= @service.service_string_24 %> <br class='d-block d-sm-none'> <%= @service.service_string_25 %> <br class='d-block d-sm-none'> <%= @service.service_string_26 %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<% end %>