<section class="text-center overflow-hidden py-0" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  <div class="bg-holder overlay overlay-2 parallax" style="background-image" data-rellax-percentage="0.5">
    <%= image_tag(@page.three_two) if @page.top_image.attached? %>
  </div>
  <!--/.bg-holder-->
  <div class="header-overlay"></div>
  <div class="container">
    <div class="d-flex flex-center vh-100">
      <div class="header-text">
        <div class="overflow-hidden">
          <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs='{"duration":2,"delay":0}'><%= @page.top_text1 %></h1>
        </div>
        <div class="overflow-hidden">
          <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'><%= @page.top_text2 %> <br class="d-block d-md-none"><%= @page.top_text3 %></p>
        </div>
        <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.5}'><a class="btn btn-sm btn-outline-light hvr-sweep-top mt-5 px-4" href="../pages/services.html"><%= @page.top_text4 %></a></div>
      </div>
    </div>
    <div class="header-indicator-down"><a class="indicator indicator-down opacity-75" href="#about-us" data-fancyscroll="data-fancyscroll" data-offset="64"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"ease":"Back.easeOut","duration":1,"delay":1.5}'></span></a></div>
    <%= link_to "Edit", edit_top_path, class: "btn btn-outline-info btn-lg pull-right" %> 
  </div>
</section>