<p id="notice"><%= notice %></p>

<p>
  <strong>String 1:</strong>
  <%= @header.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @header.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @header.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @header.string_4 %>
</p>

<%= link_to 'Edit', edit_header_path(@header) %> |
<%= link_to 'Back', headers_path %>
