<p id="notice"><%= notice %></p>

<p>
  <strong>String 1:</strong>
  <%= @performance.string_1 %>
</p>

<p>
  <strong>String 2:</strong>
  <%= @performance.string_2 %>
</p>

<p>
  <strong>String 3:</strong>
  <%= @performance.string_3 %>
</p>

<p>
  <strong>String 4:</strong>
  <%= @performance.string_4 %>
</p>

<p>
  <strong>String 5:</strong>
  <%= @performance.string_5 %>
</p>

<p>
  <strong>String 6:</strong>
  <%= @performance.string_6 %>
</p>

<p>
  <strong>String 7:</strong>
  <%= @performance.string_7 %>
</p>

<p>
  <strong>String 8:</strong>
  <%= @performance.string_8 %>
</p>

<p>
  <strong>String 9:</strong>
  <%= @performance.string_9 %>
</p>

<p>
  <strong>String 10:</strong>
  <%= @performance.string_10 %>
</p>

<p>
  <strong>String 11:</strong>
  <%= @performance.string_11 %>
</p>

<p>
  <strong>String 12:</strong>
  <%= @performance.string_12 %>
</p>

<p>
  <strong>String 13:</strong>
  <%= @performance.string_13 %>
</p>

<p>
  <strong>String 14:</strong>
  <%= @performance.string_14 %>
</p>

<p>
  <strong>String 15:</strong>
  <%= @performance.string_15 %>
</p>

<p>
  <strong>Integer 1:</strong>
  <%= @performance.integer_1 %>
</p>

<p>
  <strong>Integer 2:</strong>
  <%= @performance.integer_2 %>
</p>

<p>
  <strong>Integer 3:</strong>
  <%= @performance.integer_3 %>
</p>

<p>
  <strong>Integer 4:</strong>
  <%= @performance.integer_4 %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
